<div class="row">
	<div class="large-12 columns">
		<header>
			<h1>Front Page for Straight Arrow</h1>
			<h3>Much more to add soon</h3>
		</header>
		<ul>
			<li><h4><%= link_to "House List", properties_path %></h4></li>
		</ul>
	</div>
</div>