<div class="row">
	<div class="large-12 columns">
		<header>
			<h1>House n Open Houses</h1>
		</header>
		<p>chipmunks</p>
		<ul>
			<li><%= link_to "Houses!", properties_path %></li>
		</ul>
	</div>
</div>